*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 5px;
}

.card{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: white;

}

.card-heading{
    font-size: 2rem;
    
}

.card-body{
    margin-top: 0.9rem;
}

.card-footer{
    margin-top: 1rem;
}

.btn{
    padding: .6em 0.5em;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    color: white;
    background-color: rgb(56, 56, 125);

}

.btn-outline{
   background-color: white;
   color: rgb(56, 56, 125);
   border: 1px solid rgb(56, 56, 125);


}

.btn.btn-outline:hover{
    background-color: rgb(146, 146, 186);
    cursor: pointer;
    color: white;
}

